node_modules
public
dist

src/assets/**/*.json

.local
.output.js
pnpm-lock.yaml
stats.html

auto-imports.d.ts
components.d.ts

**/*.svg
**/*.sh

# VitePress
docs/.vitepress/cache
docs/.vitepress/dist