@mixin m-menu-theme($set-bg-color:false) {
  @if($set-bg-color) {
    background-color: var(--el-menu-bg-color);
  }
  color: var(--el-menu-text-color);
  border-color: var(--border-color);
}

@mixin m-menu-theme-hover {
  &:hover {
    background-color: var(--el-menu-hover-bg-color);
  }
}
